@import 'theme';

$container-height: 500px;
$legend-margin-top: 100px;
$data-margin-bottom: 150px;
$legend-label-width: 130px;
$data-label-width: 170px;

.skills-chart{
	height: $container-height;
	margin-top: 28px;
	margin-bottom: 100px;
	//border: 1px solid yellow;
	position: relative;

	.chart-legend{
		//border: 1px solid red;
		height: $container-height;
		position: absolute;
		margin: 0;
		padding: 0;
		width: 100%;
		list-style: none;

		li{
			position: relative;
			height: $container-height;
			position: relative;
			float: left;
			width: 20%;

			.legend-label{
				//border: 1px solid white;
				float: right;
				font-weight: 300;
			}
		}

	}

	.dropdown{
		.dropdown-toggle {
			background-color: $color-secondary-light;
			padding: 5px 12px;
			cursor: pointer; 
			cursor: hand;
			-webkit-transition: all 0.5s ease;
			-moz-transition: all 0.5s ease;
			-ms-transition: all 0.5s ease;
			-o-transition: all 0.5s ease;
			transition: all 0.5s ease;

			h4, i{
				display: inline-block;
			}

			i{
				margin-left: 5px;
			}

			&:hover{
				background-color: $color-secondary;
			}
		}

		.dropdown-menu{
			border-radius: 0;
			margin-top: 0;

			a{
				color: $color-secondary;

				&:hover{
					color: white;
					background-color: $color-secondary-light;
				}
			}

			> .active{
				> a{
					background-color: transparentize($color-secondary-light, 0.7);
					&:hover{
						color: white;
						background-color: $color-secondary-light;
					}
				}
			}
		}
	}

}

@media(max-width: 1024px){
	.skills-chart{

		.chart-legend{
			height: $container-height - $legend-margin-top - 50px;
			margin-top: $legend-margin-top;
			border-left: 1px solid $color-secondary;

			li{
				height: $container-height - $legend-margin-top - 50px;
				border-right: 1px solid transparentize($color-secondary, 0.7);
				.legend-label{
					transform: rotate(50deg) translateY(-20px);
					-webkit-transform: rotate(50deg) translateY(-20px);
					-moz-transform: rotate(50deg) translateY(-20px);
					-ms-transform: rotate(50deg) translateY(-20px);
					-o-transform: rotate(50deg) translateY(-20px);

					transform-origin: top right;
					-webkit-transform-origin: top right;
					-moz-transform-origin: top right;
					-ms-transform-origin: top right;
					-o-transform-origin: top right;

					padding-right: 20px;
				}
			}
		}

		.chart-data{
			width: 85%;
			
			//width: 100%;
			//border: 1px solid red;
			padding-left: 0;
			li{
				position: relative;
				height: 20%;
				//display: inline-block;
				margin-left: 0;
				width: 100%;
				//border: 1px solid yellow;

				.data-bar{
					position: absolute;
					top: 30%;
					left: 0;
					width: auto;
					height: 40%;
					background-color: $color-secondary-light;

					-webkit-box-shadow: 10px 12px 26px -6px rgba(0,0,0,0.75);
					-moz-box-shadow: 10px 12px 26px -6px rgba(0,0,0,0.75);
					-ms-box-shadow: 10px 12px 26px -6px rgba(0,0,0,0.75);
					-o-box-shadow: 10px 12px 26px -6px rgba(0,0,0,0.75);
					box-shadow: 10px 12px 26px -6px rgba(0,0,0,0.75);

					.data-label{
						display: table;
						width: auto;
						height: 100%;
						background-color: $color-secondary;
						
						span{
							display: table-cell;
							vertical-align: middle;
							padding-left: 10px;
							padding-right: 10px; 
						}
					}
				}

				.left-bar{
					position: absolute;
					left: 0;
					top: 0;
					width: 10px;
					height: 1px;
					border-top: 1px solid $color-secondary;
				}

				.right-bar{
					position: absolute;
					left: 0;
					bottom: 0;
					width: 10px;
					height: 1px;
					border-bottom: 1px solid $color-secondary;
				}
			}
		}

		.skill-slideshow { 
			//display: none;
			position: relative; 
			width: 100%;
			height: $container-height - $legend-margin-top - 50px;
			margin-top: $legend-margin-top;
			//border: 1px solid pink;
			overflow: hidden;

			> .skill-set { 
				//border: 1px solid red;
				position: absolute; 
				top: 0px; 
				left: 0px; 
				right: 0px; 
				bottom: 0px;

				.chart-data{
					height: 100%;
					width: 100%;
					margin-top: 0;
					li{
						width: 100%;
						/* .data-label{
							min-width: 200px;
						} */
					}
				}
			}
		}
	}
}

@media(min-width: 1024px){
	.skills-chart{
		//border: 1px solid red;
		
		.chart-legend{
			//border: 1px solid white;
			border-bottom: 1px solid $color-secondary;
			height: $container-height - $legend-margin-top - 50px;
			margin-top: $legend-margin-top/2;
			list-style: none;
			li{
				display: block;
				width: 100%;
				height: 20%;
				border-top: 1px solid transparentize($color-secondary, 0.7);

				.legend-label{
					position: absolute;
					right: 0;
					top: 0;
					width: $legend-label-width;
					text-align: center;
					border-right: 5px solid $color-secondary;
					background-color: $color-secondary-light;
				}
			}
		}

		.chart-data{
			//border: 1px solid yellow;
			width: 80%;
			padding-left: 0; 
			/* height: $container-height - $legend-margin-top - 40px;
			margin-top: $legend-margin-top/2; */
			li{
				position: relative;
				//height: $container-height - $legend-margin-top - 40px;
				display: inline-block;
				width: 20%;
				//border: 1px solid white;

				.data-bar{
					position: absolute;
					bottom: 0;
					left: 30%;
					height: auto;
					width: 40%;
					background-color: $color-secondary;

					-webkit-box-shadow: 9px 5px 51px -10px rgba(0,0,0,0.75);
					-moz-box-shadow: 9px 5px 51px -10px rgba(0,0,0,0.75);
					-ms-box-shadow: 9px 5px 51px -10px rgba(0,0,0,0.75);
					-o-box-shadow: 9px 5px 51px -10px rgba(0,0,0,0.75);
					box-shadow: 9px 5px 51px -10px rgba(0,0,0,0.75);

					.data-label{
						position: absolute;
						bottom: 0;
						min-width: $data-label-width;
						//border: 1px solid red;

						transform: rotate(50deg) translate(60px, 60px);
						-webkit-transform: rotate(50deg) translate(60px, 60px);
						-moz-transform: rotate(50deg) translate(60px, 60px);
						-ms-transform: rotate(50deg) translate(60px, 60px);
						-o-transform: rotate(50deg) translate(60px, 60px);
					}
				}

				.left-bar{
					position: absolute;
					left: 0;
					bottom: 0;
					height: 10px;
					width: 1px;
					border-left: 1px solid $color-secondary;
				}

				.right-bar{
					position: absolute;
					right: 0;
					bottom: 0;
					height: 10px;
					width: 1px;
					border-right : 1px solid $color-secondary;
				}
			}
		}

		.skill-slideshow { 
			//display: none;
			position: relative; 
			width: 80%;
			height: $container-height - $legend-margin-top - 50px;
			margin-top: $legend-margin-top/2;
			//border: 1px solid pink;

			> .skill-set { 
				//border: 1px solid red;
				position: absolute; 
				top: 0px; 
				left: 0px; 
				right: 0px; 
				bottom: 0px;

				.chart-data{
					height: 100%;
					width: 100%;
					margin-top: 0;
					li{
						height: 100%;
					}
				}
			}
		}
	}
}