#exp{
	color: $color-secondary;
	background: {
	    image: url(/images/parallax-about.png);
	    repeat: no-repeat;
	    size: 400px 400px;
	    color: #F8F8F8;
	    position: top left;
	    attachment: fixed;
	}

	.exp-panel{

		.tab-content{
			margin-top: 28px;

			.tab-pane{

				.exp-detail{
					background-color: white;
					height: auto;
					padding: 10px 30px;

					-webkit-box-shadow: 0px 9px 26px -4px rgba(0,0,0,0.15);
					-moz-box-shadow: 0px 9px 26px -4px rgba(0,0,0,0.15);
					-ms-box-shadow: 0px 9px 26px -4px rgba(0,0,0,0.15);
					-o-box-shadow: 0px 9px 26px -4px rgba(0,0,0,0.15);
					box-shadow: 0px 9px 26px -4px rgba(0,0,0,0.15);

					ul.role-desc{
						padding-left: 1em;

						li{
							margin-bottom: 5px;
						}
					}
				}

				.skill-set{
					margin-top: 10px;
					color: white;
					li{
						background: $color-primary;
						margin-left: 20px;
						margin-bottom: 10px;
						padding: 5px; 

						-webkit-box-shadow: 11px 12px 21px -6px rgba(0,0,0,0.36);
						-moz-box-shadow: 11px 12px 21px -6px rgba(0,0,0,0.36);
						-ms-box-shadow: 11px 12px 21px -6px rgba(0,0,0,0.36);
						-o-box-shadow: 11px 12px 21px -6px rgba(0,0,0,0.36);
						box-shadow: 11px 12px 21px -6px rgba(0,0,0,0.36);
					}
				}
			}
		}
	}

	.exp-timeline{
		padding-right: 40px;

		.timeline{
	      .message-item{
	      	transform-style: preserve3d;
	      	perspective: 1000px;
	      	-webkit-perspective: 1000px;
	      	-moz-perspective: 1000px;
	      	-ms-perspective: 1000px;
	      	-o-perspective: 1000px;

	      	-webkit-persective-origin: 0% 0%;
	      	-ms-persective-origin: 0% 0%;
	      	-moz-persective-origin: 0% 0%;
	      	-o-persective-origin: 0% 0%;
	      	persective-origin: 0% 0%;
	      	
	      	.message-inner{
		        -webkit-transform: rotateY(0deg);
		        -moz-transform: rotateY(0deg);
		        -ms-transform: rotateY(0deg);
		        -o-transform: rotateY(0deg);
		        transform: rotateY(0deg);

		        -webkit-transform: translateY(300px);
		        -moz-transform: translateY(300px);
		        -ms-transform: translateY(300px);
		        -o-transform: translateY(300px);
		        transform: translateY(300px);

		        &.slide{
		        -webkit-transform: translateY(0px);
		        -moz-transform: translateY(0px);
		        -ms-transform: translateY(0px);
		        -o-transform: translateY(0px);
		          transform: translateY(0px);

		          &.press{
		          	-webkit-transform: rotateY(20deg);
			        -moz-transform: rotateY(20deg);
			        -ms-transform: rotateY(20deg);
			        -o-transform: rotateY(20deg);
			          transform: rotateY(20deg);
			      }
		        }
		      }
	      }
	    }
	}
}

@media(min-width: 1024px){
	#exp{
		.exp-panel{
			padding-left: 40px;
		}
	}
}