#intro{
	color: $color-secondary;
	background: {
	    image: url(/images/parallax-about.png);
	    repeat: no-repeat;
	    size: 400px 400px;
	    color: #F8F8F8;
	    position: top left;
	    attachment: fixed;
	}
	    
	.about-text{
		font-size: 1.5em;
		font-weight: 300;
		text-align: justify;
	}

	.personal-info{
		.row{
			margin-bottom: 20px;
			font-size: 20px;
			.col-xs-9, .col-md-8{
				font-weight: 300;
			}
		}
	}

	>.row{
    	margin-bottom: 30px;
	}

	.hobbies, .social{
		li{
			text-align: center;
			margin-right: 10px;
			margin-bottom: 10px;
			width: 80px;
		}
		p {
			margin-top: 10px;
			font-weight: 300;
			font-size: 1em;
		}
	}

	.profile-pic{
	    background: {
	      image: url(/images/profile-pic.jpg);
	    }
	    margin-bottom: 30px;
	    width: 150px;
	    height: 150px;

	    -webkit-transition: all 1s ease;
	    -moz-transition: all 1s ease;
	    -ms-transition: all 1s ease;
	    -o-transition: all 1s ease;
	    transition: all 1s ease;

	    transform: scale(0.2);
	    -webkit-transform: scale(0.2);
	    -moz-transform: scale(0.2);
	    -ms-transform: scale(0.2);
	    -o-transform: scale(0.2);

	    &.appear{
	    	transform: scale(1);
	    	-webkit-transform: scale(1);
		    -moz-transform: scale(1);
		    -ms-transform: scale(1);
		    -o-transform: scale(1);
	    }
	}

	.social{
		li{
			margin: 0px;
		}
	}

	.round{
		-webkit-transition: all 1s ease;
		-moz-transition: all 1s ease;
		-ms-transition: all 1s ease;
		-o-transition: all 1s ease;

		transform: scale(0.2);
		-webkit-transform: scale(0.2);
		-moz-transform: scale(0.2);
		-ms-transform: scale(0.2);
		-o-transform: scale(0.2);
		&.appear{
			transform: scale(1);
			-webkit-transform: scale(1);
			-moz-transform: scale(1);
			-ms-transform: scale(1);
			-o-transform: scale(1);
		}
	}

	div{
	  .progress{
	    height: 5px;
	    overflow: visible;
	    border-radius: 10px;
	    .progress-bar{

	      position: relative;
	      border-radius: 10px;
	      span{
	        position: absolute;
	        width: 50px;
	        height: 20px;
	        border-radius: 10px;
	        right: 0;
	        top: -8px;
	      }
	    }
	  }	
	}

	    
	@media screen and (min-width: 768px){
	    .profile-pic{
	      	margin-top: 15%;
	    }
	}
}
