//fonts
$fontFamilyLora: "Lora", Georgia, serif;
$fontFamilyLucida: "Lucida Grande", Helvetica, Arial, sans-serif;
$fontFamilyLato: "Lato";

//colors
$color-primary: #3AA8DB;
$color-secondary: #18465B;
$color-secondary-light: #2E86AF;
$color-analog: #CAA669;


