.timeline{
  margin-top: 30px;
  color: white;

  .message-item{
    margin-bottom: 25px;
    margin-left: 40px;
    position: relative;

    .message-inner{
      transition: background 0.5s ease;
      background: $color-secondary-light;
      padding: 10px;
      position: relative;
      -webkit-box-shadow: 11px 12px 25px -4px rgba(0,0,0,0.36);
      -moz-box-shadow: 11px 12px 25px -4px rgba(0,0,0,0.36);
      -ms-box-shadow: 11px 12px 25px -4px rgba(0,0,0,0.36);
      -o-box-shadow: 11px 12px 25px -4px rgba(0,0,0,0.36);
      box-shadow: 11px 12px 25px -4px rgba(0,0,0,0.36);

      // &:before{
      //   border-right: 10px solid white;//#18465B;
      //   border-style: solid;
      //   border-width: 10px;
      //   color: rgba(0,0,0,0);
      //   content: "";
      //   display: block;
      //   height: 0;
      //   position: absolute;
      //   left: -20px;
      //   top: 6px;
      //   width: 0;
      // }

      &:after{
        transition: all 0.5s ease;
        border-right: 10px solid $color-secondary-light;
        border-style: solid;
        border-width: 10px;
        color: rgba(0,0,0,0);
        content: "";
        display: block;
        height: 0;
        position: absolute;
        left: -18px;
        top: 6px;
        width: 0;
      }

      &.active{
        background: $color-secondary;

        &:after{
          border-right-color: $color-secondary;
        }
        &:before{
          border-right-color: $color-secondary;
        }
      }
    }
        
    //the line of the timeline
    &:before{
        //background: #fff;
        //border-radius: 2px;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        bottom: -30px;

        -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
        -moz-box-shadow: 0 0 3px rgba(0,0,0,0.2);
        -ms-box-shadow: 0 0 3px rgba(0,0,0,0.2);
        -o-box-shadow: 0 0 3px rgba(0,0,0,0.2);
        box-shadow: 0 0 3px rgba(0,0,0,0.2);

        content: "";
        height: 100%;
        left: -30px;
        position: absolute;
        width: 3px;
    }
        
    &:after{
      transition: all 0.5s ease;
      background: #fff;
      border: 2px solid $color-secondary-light;
      border-radius: 50%;

      -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.1);
      -moz-box-shadow: 0 0 5px rgba(0,0,0,0.1);
      -ms-box-shadow: 0 0 5px rgba(0,0,0,0.1);
      -o-box-shadow: 0 0 5px rgba(0,0,0,0.1);
      box-shadow: 0 0 5px rgba(0,0,0,0.1);
      
      content: "";
      height: 15px;
      left: -36px;
      position: absolute;
      top: 10px;
      width: 15px;
    }

    &.active{
      &:after{
        border: 2px solid $color-secondary;
        background: $color-primary;
      }
    }

    //specific to education timeline
    .course-time{
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 20px;
      color: $color-analog;
    }

    .course-name{
      font-size: 18px;
      margin-bottom: 5px
    }

    .institute{
      font-size: 16px;
      font-weight: 300;
    }
    
    .message-head{
      // border-bottom: 1px solid #eee;
      // margin-bottom: 8px;
      // padding-bottom: 8px;
      font-size: 10px;
      font-weight: bold;
      margin-bottom: 10px;
      color: $color-analog;
    }

      .avatar{
        margin-right: 20px;
      }
    
      .user-detail{
        overflow: hidden;

        h5{
          font-size: 16px;
          font-weight: bold;
          margin: 0;
        }
      }
          
      .post-meta{
        float: left;
        padding: 0 15px 0 0;
        
         > div{
            color: #333;
            font-weight: bold;
            text-align: right;
          }
        }

    img{
     min-height: 40px;
     max-height: 40px;
    }
  }


  .post-meta{
    > div {
      color: #777;
      font-size: 12px;
      line-height: 22px;
    }
  }


  .clearfix{
    &:before, &:after{
      content: "";
      display: table;
    }
  }

  a{
    &:link, &:hover, &:visited, &:active{
      text-decoration: none;
      color: white;
    }
    .message-inner{
        &:not(.active){
          &:hover{
            background: $color-primary;

            &:after{
              border-right-color: $color-primary;
            }
            &:before{
              border-right-color: $color-primary;
            }
          }
        }
    }
  }
}