.timeline
	.message-item
		.message-inner
			.course-time 2007 - 2011
			.course-name B.Tech(Computer Sc. and Engg.)
			.institute Guru Gobind Singh Indraprastha University, Delhi

	.message-item
		.message-inner
			.course-time 2010
			.course-name Specialization Course(J2EE)
			.institute NIIT, Delhi

	.message-item
		.message-inner
			.course-time 2008
			.course-name Specialization Course(.NET)
			.institute AlmaMate, Delhi
	.message-item
		.message-inner
			.course-time 1996 - 2007
			.course-name School
			.institute The Air Force School, Delhi