.timeline
	a(href="#exp-servion" aria-controls="exp-servion" role="tab" data-toggle="tab")
		.message-item.active
			.message-inner.active
				.course-time Feb 2016 - present
				.course-name Senior Software Developer
				.institute Sevion, Mexico City

	a(href="#exp-softtek" aria-controls="exp-softtek" role="tab" data-toggle="tab")
		.message-item
			.message-inner
				.course-time May 2015-Feb 2016
				.course-name Software Engineer Senior
				.institute Softtek, Mexico Ciry

	a(href="#exp-infosys" aria-controls="exp-infosys" role="tab" data-toggle="tab")
		.message-item
			.message-inner
				.course-time Nov 2011 - May2015
				.course-name Systems Enginner & Senior Systems Ensgineer
				.institute Infosys, India and Mexico City

	a(href="#exp-tp" aria-controls="exp-tp" role="tab" data-toggle="tab")
		.message-item
			.message-inner
				.course-time May 2010 - Aug 2010
				.course-name Software Enginner
				.institute Thompson Press, Delhi