section#intro.pad-normal
    .container-fluid
      .row
        .col-xs-12.col-md-4
          h3.sub-section-head
            b My 
            span(style="font-weight: 300") Story
          p.about-text.
            I am a passionate, responsible and committed engineer, with a get-it-done-on-time spirit, with 5+ years (2+ years of Client site)  experience in designing and implementing technically sophisticated applications using Microsoft Technologies (Web, Desktop and Mobile), open source web technologies, multi-tiered architecture and client site management. Proficient in design patterns, language standards and a budding NoSQL and Microservices enthusiast.
        .col-xs-12.col-md-4.text-center
          .profile-pic.ratio.img-responsive.img-circle.center-block
          h2 Hi, there!
          h4 Let's get to know each other.

        //personal info
        .col-xs-12.col-md-4.personal-info
          h3.sub-section-head
            b Personal 
            span(style="font-weight: 300") Info
          .row
              .col-xs-4 Name
              .col-xs-8 Swarnabh Banerjee
          .row
              .col-xs-4 Age
              .col-xs-8 26 years
          .row
              .col-xs-4 Email
              .col-xs-8 swarnabh1990@gmail.com
          .row
              .col-xs-4 Phone
              .col-xs-8 +52 1 5559173528
          .row
              .col-xs-4 Location
              .col-xs-8 Mexico City, Mexico

          .row
            .col-xs-12
               ul.social.list-inline
                li
                  a(href="https://wwww.facebook.com/swarnabh.banerjee", target="_blank")
                    .round.round-xlg.back-default
                      i.fa.fa-facebook
                li
                  a(href="https://www.linkedin.com/in/swarnabhbanerjee", target="_blank")
                    .round.round-xlg.back-default
                      i.fa.fa-linkedin
                li
                  a(href="https://github.com/swarnabh1990")
                    .round.round-xlg.back-default
                      i.fa.fa-github
                li
                  a(href="https://plus.google.com/u/0/+SwarnabhBanerjee0690", target="_blank")
                    .round.round-xlg.back-default
                      i.fa.fa-google-plus
                li

      .row
        //hobbies
        .col-xs-12.col-md-4
          h3.sub-section-head
            b Hobbies 
            span(style="font-weight: 300") and Interests
          ul.hobbies.list-inline
            li
              .round.round-xlg.back-default
                i.fa.fa-music.fa-lg
              p Music
            li
              .round.round-xlg.back-default
                i.fa.fa-camera-retro.fa-lg
              p Photography
            li
              .round.round-xlg.back-default
                i.fa.fa-globe.fa-lg
              p Travel
            li
              .round.round-xlg.back-default
                i.fa.fa-cutlery.fa-lg
              p Cooking
            li
              .round.round-xlg.back-default
                i.fa.fa-gamepad.fa-lg
              p Gaming
            li
              .round.round-xlg.back-default
                i.fa.fa-paint-brush.fa-lg
              p Painting
        .col-xs-12.col-md-4

        //languages
        .col-xs-12.col-md-4.lang-panel
          h3.sub-section-head
            b Language 
            span(style="font-weight: 300") Skills

          p English(Native or Bilingual fluency)
          .progress
            .progress-bar.progress-bar-info(role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:0%;") 
              span.progress-bar-info 100%

          p Spanish(Elementary fluency)
          .progress
            .progress-bar.progress-bar-info(role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:0%;") 
              span.progress-bar-info 50%

          p Hindi(Native or Bilingual fluency)
          .progress
            .progress-bar.progress-bar-info(role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:0%;") 
              span.progress-bar-info 100%
            
          p Bengali(Native or Bilingual fluency)
          .progress
            .progress-bar.progress-bar-info(role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:0%;") 
              span.progress-bar-info 100%