section#skills-edu.pad-normal
    .container-fluid
      .row
        .col-xs-12.col-md-4.edu-panel
          h3.sub-section-head
            b Education 
            span(style="font-weight: 300") and Knowledge
            include education-timeline.pug

        .col-xs-12.col-md-8.skill-panel
          h3.sub-section-head
            b Skills 
            span(style="font-weight: 300") and Expertise
          include bar-graph.pug

